.openMenu {
  display: block !important;
  position: absolute;
  top: 2rem;
  right: 0;
}


.dropdownItem {
  transition: color, background 50ms;
}

.dropdownItem:active {
  background-color: var(--accent) !important;
  color: #fff !important;
}
