.curriculumRight {
  overflow: hidden;
  scroll-snap-type: x mandatory;
  /* fixed height by the moment  */
  height: 52.5vh;
}

.curriculumRight article {
  scroll-snap-align: start;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.scroller {
  overflow: hidden;
}

.button {
  position: absolute;
  opacity: 0.2;
  transition: opacity 0.2s ease-in-out;
  aspect-ratio: 1/1;
  max-width: 3rem;
  border: 1px solid red;
  border-radius: 50%;
  z-index: 3;
}

.button:hover {
  opacity: 1;
}

.buttonPrevious {
  left: 0;
}

.buttonNext {
  right: 0;
}

.buttonNext, .buttonPrevious {
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .curriculumRight {
    scroll-snap-type: y mandatory;
    height: 75vh;
  }

  .buttonPrevious, .buttonNext {
    top: auto;
  }

  .buttonPrevious {
    transform: rotate(90deg) translate(0, 50%);
    left: 50%;
    top: 0;
  }

  .buttonNext {
    transform: rotate(90deg) translate(0, -50%);
    right: 50%;
    bottom: 0;
  }
}
