.curriculumRight {
  overflow: hidden;
  scroll-snap-type: x mandatory;
  /* fixed height by the moment  */
  height: 52.5vh;
  overflow: hidden;
}

.curriculumRight article {
  position: relative;
  scroll-snap-align: start;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  padding: 0.5rem 35px;
}

.curriculumRight article h3 {
  background-color: rgba(255, 255, 255, 0.9);
  top: 15px;
  position: sticky;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: auto;
  margin-top: 15px;
  width: fit-content;
  z-index: 5;
}

.button {
  position: absolute;
  opacity: 0.2;
  transition: opacity 0.2s ease-in-out;
  aspect-ratio: 1/1;
  width: 48px;
  height: 48px;
  border: 1px solid red;
  border-radius: 50%;
  z-index: 10;
}

.button:hover {
  opacity: 1;
}

.buttonPrevious {
  left: 0;
}

.buttonNext {
  right: 0;
}

.buttonNext,
.buttonPrevious {
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .curriculumRight {
    scroll-snap-type: y mandatory;
    height: 72.5vh;
  }

  .curriculumRight article {
    padding: 35px 0.5rem;
  }

  .buttonPrevious,
  .buttonNext {
    top: auto;
  }

  .buttonPrevious {
    transform: rotate(90deg) translate(0, 50%);
    left: 50%;
    top: 0;
  }

  .buttonNext {
    transform: rotate(90deg) translate(0, -50%);
    right: 50%;
    bottom: 0;
  }
}
