.curriculumContainer {
}

.curriculumLeft,
.curriculumRight {
}

.curriculumLeft {
}

.curriculumRight {
  overflow: hidden scroll;
  scroll-snap-type: y mandatory;

  /* fixed height by the moment  */
  max-height: 565px;
}

.curriculumRight > * {
  scroll-snap-align: start;
  min-height: 100%;
  height: 100%;
}
