.container {
  overflow: hidden scroll;
}

.fadeTop, .fadeBottom {
  position: absolute;
  width: 100%;
  height: 2rem;
  z-index: 1;
  background-image: linear-gradient(to top, transparent 0% 50%, var(--bkg-color) 100%);
}

.fadeTop {
  top: 0;
}

.fadeBottom {
  bottom: 0;
  transform: rotate(180deg);
}