.header {
  position: sticky;
  top: 0;

  display: grid;
  place-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  z-index: 11;
}

.navbar {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  height: 3rem;
  width: 100%;
  
  width: var(--content-max-width);
  max-width: var(--max-width);

  background-color: red;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;

  margin: 0;
  padding: 0;
}

.navbar a {
  color: inherit;
}
