.navbar {
  position: sticky;
  top: 0;
  z-index: 11;
  height: var(--navbar-height);

  padding: 20px;
}

.navbar a {
  background-color: inherit;
  color: inherit;
}

.navbar a:hover {
  border: inherit;
  color: inherit;
}

.avatarContainer {
  display: grid;
  place-items: center;
}

.dropdownBtn {
  position: relative;
}

@media screen and (min-width: 576px) {
  .navbar {
    border-radius: 0 0 var(--gral-bd-radius) var(--gral-bd-radius);
  }
}
