.accordionContainer {
  font-size: normal;
  border-radius: 0 0 var(--summary-bd-radius) var(--summary-bd-radius);
  overflow: hidden;
}

.accordionLinks {
  width: 100%;
  cursor: pointer;
  transition: padding var(--ms-transition) ease;
  background-color: inherit;
  color: inherit;
  text-transform: capitalize;
}

.accordionLinks:not(:first-child, :last-child) {
  margin: 0.15rem 0;
}


@media screen and (min-width: 576px) {
  .accordionContainer {
    font-size: normal;
  }
  .accordionLinks {
    padding: 0.35rem 0.5rem;
  }
}
