.profileNameContainer {
  overflow: hidden !important;
  white-space: nowrap !important;
}

.profileName {
  text-overflow: ellipsis !important;
}

.profileCardImg {
  display: grid;
  place-items: center;

  aspect-ratio: 1/1 !important;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}

.profileCardImg svg {
  /* TODO: Remove background-placeholder */
  background-color: red;
  width: 100%;
}
