.profileCardDefault {
  border-radius: 10px;
  transition: box-shadow, transform 0.25s ease-in-out;
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  cursor: default;
}

.profileCard {
  gap: 0.5rem;
}

.profileCard:hover {
  transform: scale(1.01);
}

.profileNameContainer {
  overflow: hidden;
  white-space: nowrap;
}

.profileCardHeader {
  text-overflow: ellipsis;
  font-weight: bold;
}

.profileCardImg {
  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1/1;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
}

.profileCardImg svg {
  /* TODO: Remove background-placeholder */
  background-color: red;
  width: 100%;
}
