.navigationWrapper {
  position: sticky;

  display: grid;
  place-items: center;
  width: 100%;
  margin-bottom: 0.25rem;
}

.navigationInner {
  display: flex;

  width: 100%;
  background-color: bisque;
  text-transform: uppercase;

  width: var(--content-max-width);
  max-width: var(--max-width);

  border-radius: 10px;
  overflow: hidden;
}

.navigationInner li > div {
  display: flex;
  flex-direction: row;
}

.navigationInner > * {
  padding: 0.5rem;
}

.navigationInner :not(a) {
  cursor: default;
}
