.breadcrumbNav {
  background-color: bisque;
  text-transform: uppercase;
}

.breadcrumbNav :not(a) {
  cursor: default;
}

.breadcrumbNav ol {
  margin: 0;
}

@media screen and (min-width: 576px) {
  .breadcrumbNav {
    border-radius: 10px;
  }
}
