.summaryContainer {
  border-radius: var(--summary-bd-radius);
  overflow: hidden;
}

.summaryUpper {
  position: relative;
  
  border-radius: var(--gral-bd-radius) var(--gral-bd-radius) 0 0;
  overflow: hidden;
  background-color: #fff;
}

/*
 *   Overwriting the row bootstrap class
 */
.summaryUpper > * {
  padding: 0;
}

.summaryPhoto {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  
  border-radius: var(--summary-bd-radius) 0;
  overflow: hidden;
}

.summaryPhoto img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.photoDecorator {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 50%;
}

.summaryPersonalInfo {
  white-space: nowrap;
}

.summaryPersonalInfo h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}


.summaryLower {
  /* Background only for development purposes */
  background-color: hsl(112, 69%, 41%);
}