.footer {
  position: fixed;
  bottom: 0;

  display: grid;
  place-items: center;
  margin-top: 0.5rem;
  
  width: 100%;
  z-index: 10;

  transition: bottom 1s ease;
}

.footerInner {
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: red !important;
  
  width: var(--content-max-width);
  max-width: var(--max-width);
  
  border-radius: 10px 10px 0 0;
}

.footer > * {
  padding: 0.25rem 0;
}