.breadcrumbNav {
  background-color: bisque;
  text-transform: uppercase;
}

.breadcrumbNav :not(a) {
  cursor: default;
}

.breadcrumbNav a:hover {
  text-decoration: underline;
}

.breadcrumbNav ol {
  margin: 0;
}

@media screen and (min-width: 576px) {
  .breadcrumbNav {
    border-radius: var(--gral-bd-radius);
  }
}
