:root {
  --navbar-height: 3rem;
  --mg-sections: 10px;
  --box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  --gral-bd-radius: 3px;
  --summary-bd-radius: 10px;
  --ms-transition: 250ms;

  --bkg-color-def: linear-gradient(to bottom right, #ebebeb, #f2f2f2);
  --accent: grey;
  
  /* CSS transitions doesn't work with gradients :(  */
  --bkg-color-candidate: linear-gradient(to right, #ffe5b4, #ffdab9);
  --bkg-color-candidate: #ffe0b7;
  --bkg-color-recruiter: linear-gradient(to right, #bfefff, #0077b5);
  --bkg-color-recruiter: #61b4db;

  --color: #313638;
  --a-color: hsl(220, 70%, 50%);
}

body {
  min-height: 100vh;
  min-width: 100%;
  overflow: hidden scroll;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: var(--bkg-color-def);
  color: var(--color);
  scroll-behavior: smooth !important;

  transition: background 1s ease !important;
}

.theme-candidate {
  background: var(--bkg-color-candidate);
  --accent: #ff8f2c;
}

.theme-recruiter {
  background: var(--bkg-color-recruiter);
  --accent: #006297;
}

.accent {
  color: var(--accent);
}

a,
.btn-link {
  text-decoration: none;
  font-weight: bold;
  /* color: var(--a-color); */
  color: var(--accent);
  border-bottom: 2px solid transparent;
  border-radius: 0;
  transform: color 1s ease, background 1s ease;
}

.btn {
  background-color: var(--accent);
  border: none;
}

.btn-outline {
  color: var(--accent);
  background-color: transparent;
  border: 1px solid var(--accent);
}

.btn-outline a {
  color: var(--accent);
}

.btn-outline:is(:hover, :active, :focus) {
  background-color: transparent;
  border: 1px solid var(--accent);
}

.btn-primary:is(:hover, :active, :focus) {
  background-color: var(--accent);
}

a:hover {
  text-decoration: none;
}

#__next > div {
  transition: max-width var(--ms-transition) ease;
}

#__next > div > * {
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

#__next > div > :not(:first-child, :last-child) {
  transition: margin var(--ms-transition) ease;
}

@media screen and (min-width: 576px) {
  #__next > div > :not(:first-child, :last-child) {
    margin-top: var(--mg-sections);
    margin-bottom: var(--mg-sections);
  }
}
