:root {
  --navbar-height: 3rem;
  --mg-sections: 0.5rem;
  --box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  --gral-bd-radius: 2px;
  --summary-bd-radius: 10px;
  --ms-transition: 250ms;
}

body {
  min-height: 100vh;
  min-width: 100%;
  overflow: hidden scroll;
  background-color: #242424;
  font-family: "Roboto",
    /* DEV: The fallback font is Comic Sans, as it will be easy to notice. */
      "Comic Sans MS",
    "Comic Sans", cursive, /* sans-serif is Roboto's fallback */ sans-serif;
  font-weight: 300;

  scroll-behavior: smooth !important;
}

a {
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

#__next > div {
  transition: max-width var(--ms-transition) ease;
}

#__next > div > :not(:first-child, :last-child) {
  transition: margin var(--ms-transition) ease;
}

@media screen and (min-width: 576px) {
  #__next > div > :not(:first-child, :last-child) {
    margin-top: var(--mg-sections);
    margin-bottom: var(--mg-sections);
  }
}
